*.o*
*.e*
*.out
*.txt
*.swp
*.csv
*~
fileinput_gkl
sparse_nonsymm
dense_nonsymm
power
bidiag
*pycache*
dammy*
data*
jj*
ddd
jdd
jdds
jikken*
*DS_Store*
experiment*
newexp*
dd
dsvd
testmatrix*
src/RESGKLJIKEEN_for_epsilon
hhh
hoge
hog
o1
hoge hoge5 hoge.txt hogg
hog*
core*
forkk
kk
forkimura
